* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px 5px 10px;
}

.btns {
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 5px 8px;
  cursor: pointer;
  border: 1px solid gray;
}

.p-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 30px 10px;
}

main {
  min-height: 85vh;
}

footer p {
  margin: 30px;
  text-align: center;
}

.p-card {
  position: relative;
  height: 200px;
  margin-bottom: 20px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-checkbox {
  position: absolute;
  top: 15px;
  left: -85px;
}

#product_form {
  margin-top: 50px;
}

.input-grp {
  width: 300px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
label,
select {
  display: inline-block;
}

input {
  width: 220px;
  padding: 5px 10px;
}

select {
  padding: 5px 10px;
  width: 150px;
}

.type-container input {
  width: 200px;
}

.type-desc {
  font-weight: bold;
  font-size: 14px;
}

.error-msg {
  color: tomato;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
